<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Final Web</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
    <header id = 'header'>
        <div class="menu">
            <img src="/images/logo.png" alt="logo" class="logo" id="logo" width="6%" height="100%" >
    
            <div class="menu-navigate" id="menu-navigate">
                <button  id="">Home</button>
                <button  id="">Produtos</button>
                <button  id="">Pets</button>
                <button  id="">Quem somos</button>
            </div>

            <button id="login">Login</button>
        </div>
        
        <script src="/javascripts/header.js"></script>
    </header>


