  <%- include('./partials/header') %>

  <main id="index">
    <section class="begin" id="begin">
      <div id="div-content">
        <h1>Pets</h1>
        <img src="/images/dog-index.png" alt="img" style="position: relative;margin-bottom: 2%; animation: dog 2s ease-out ;">
      </div>
      <div class="ellipse"></div>
    </section>
  </main>
  
</body>
</html>